<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand ms-5" routerLink="home"><h1><img src="https://www.pngitem.com/pimgs/m/523-5233379_employee-management-system-logo-hd-png-download.png" alt="logo">Employee Management System</h1></a>
  <!-- <form class=" ms-2 me-5 pe-5">
    <input class="form-control mr-sm-2" type="search" placeholder="Search employee" aria-label="Search">
    <button class="btn btn-outline-success btn-sm mt-1 float-end" type="submit" (click)="search()">Search</button>
  </form> -->
</nav>

